name: Update coverage badge

on:
  push:
    branches: [ "main" ]

jobs:
  create-coverage-badge:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install poetry
        run: |
          curl -sSL 'https://install.python-poetry.org' | python
          echo "$HOME/.poetry/bin" >> "$GITHUB_PATH"

      - name: Install dependencies
        run: |
          poetry config virtualenvs.in-project false
          poetry run pip install -U pip
          poetry install --without lint

      - name: Create coverage file
        run: poetry run pytest ./tests/ --cov=curlifier

      - name: Create Badge
        run: |
          rm -f .github/badge/coverage.svg
          poetry run coverage-badge -o .github/badge/coverage.svg
  
      - name: Commit and push badge
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update coverage badge [skip ci]"
          file_pattern: .github/badge/coverage.svg